<mat-toolbar class="header mat-elevation-z4" >
    <span>
        <a href="/">
            <img class="logo" src="assets/img/Star-Wars-Logo.png" alt="logo">
        </a>
    </span>
    <span class="spacer">

    </span>
    <span class="title-group">
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>theaters</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>peoplealt</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>public</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>folder</mat-icon>
        </button>
    </span>
    
</mat-toolbar>
