<div class="white-block">
    <div class="title" *ngIf="detail" >
        <h2>{{ detail.name }}</h2>
        <p>Birth Year : {{detail.birth_year}}</p>
        <p>Eye Color : {{detail.eye_color}}</p>
        <p>Gender: {{detail.gender}}</p>
        <p>Hair Color : {{detail.hair_color}}</p>
        <p>Height : {{ detail.height }}</p>
        <p>Mass : {{ detail.mass }}</p>
        <p>Skin Color: {{detail.skin_color}}</p>

        <p *ngIf="homeworld">Homeworld: {{homeworld.name}}</p>
       


       <p>Films:
            <span *ngFor="let film of detail.films; let last = last">
              <a href="{{ film }}">{{ film }}</a>{{ last ? '' : ', ' }}
            </span>
          </p>

        <p>Species:
            <span *ngFor="let specie of detail.species; let last = last">
              <a href="{{ specie }}">{{ specie }}</a>{{ last ? '' : ', ' }}
            </span>
          </p>
        
    
 
    