<div class="white-block">
    <div class="title" *ngIf="detail">
      <div class="title" *ngIf="detail" >
        <h2>{{detail.name}}</h2>
        <p>Classification : {{detail.classification}}</p>
        <p>Designation : {{detail.designation}}</p>
        <p>Average Height : {{detail.average_height}}</p>
        <p>Average Lifespan : {{detail.average_lifespan}}</p>
        <p>Eye Colors : {{detail.eye_colors}}</p>
        <p>Hair Colors : {{detail.hair_colors}}</p>
        <p>Skin Colors : {{detail.skin_colors}}</p>
        <p>Language : {{detail.language}}</p>
        <p>Homeworld: <a [routerLink]="['/planets', extractIdFromUrl(detail.homeworld)]">{{ homeworld.name }}</a></p>
        <p>People:
          <span *ngFor="let person of people; let last = last">
            <a [routerLink]="['/characters', extractIdFromUrl(person.url)]">{{ person.name }}</a>{{ last ? '' : ', ' }}
          </span>
        </p>
        <p>Films:
          <span *ngFor="let film of films; let last = last">
            <a [routerLink]="['/movies', extractIdFromUrl(film.url)]">{{ film.title }}</a>{{ last ? '' : ', ' }}
          </span>
        </p>>

        
     
     
       </div>
     </div>
