<div class="white-block">
  <div class="title" *ngIf="detail" >
   <h2>{{detail.name}}</h2>
   <p>Diameter : {{detail.diameter}}</p>
   <p>Rotation Period : {{detail.rotation_period}}</p>
   <p>Orbital Period : {{detail.orbital_period}}</p>
   <p>Gravity : {{detail.gravity}}</p>
   <p>Population : {{detail.population}}</p>
   <p>Climate : {{detail.climate}}</p>
   <p>Terrain : {{detail.terrain}}</p>
   <p>Surface Water: {{detail.surface_water}}</p>
   <p>Residents:
    <span *ngFor="let resident of residents; let last = last">
      <a [routerLink]="['/characters', extractIdFromUrl(resident.url)]">{{ resident.name }}</a>{{ last ? '' : ', ' }}
    </span>
  </p>
  <p>Films:
    <span *ngFor="let film of films; let last = last">
      <a [routerLink]="['/movies', extractIdFromUrl(film.url)]">{{ film.title }}</a>{{ last ? '' : ', ' }}
    </span>
  </p>
  </div>
</div>
      

 
